a {

	text-decoration: none;
}

.header
{

	height: 5%;
	width: 100%;
	background-color: black;
	color: white;

}

.footer
{

	height: 87px;
	width: 100%;
	background-color: black;
	color: white;
	margin-top: 15%; 
}

.form{

	margin: center;
}



.h{

	margin-top: 5%;
}

.im{

	height: 5%;
	width: 5%;
}

.b{

	margin-top: 3%;
}

.ti{

	margin-left: 40%;
}

.lo{

	margin-left: 39%;
}

.mp{

	margin-top: 7%;
	margin-left: -16.5%;
	width: 16.5%;

}

.titi{

	text-align: center;
}